<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменение данных клиента</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}">
</head>
<body>

<form action="#" th:action="@{/client-update}" th:object="${client}" method="post">
    <table>
        <tr>
            <td th:align="right">
                <label for="id">Номер в базе</label>
            </td>
            <td>
                <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
            </td>
        </tr>
        <tr>
            <td th:align="right">
                <label for="firstName">ФИО</label>
            </td>
            <td>
                <input type="text" th:field="*{name}" id="firstName" placeholder="Введите ФИО">
            </td>
        </tr>
        <tr>
            <td th:align="right">
                <label for="phoneNumber">Телефон</label>
            </td>
            <td>
                <input type="text" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Введите телефон">
            </td>
            <td>
                <input type="submit" value="Изменить данные">
            </td>
        </tr>
    </table>
</form>
<br>
</body>
</html>
